body {
    background: rgb(14, 15, 14);
    color: white;
}

.tools-container {
    height: 100%;
    background: red;
}

.form-control::placeholder {
    color: #549077;
}

ul.errorlist {
    list-style: none;
    padding-left: 13px;
}

.status-off {
    color: #495057 !important;
}

.list-group-item-brand, .form-control, .btn-brand {
    background: rgb(14, 15, 14);
    color: #549077;
    border-color: rgb(50,50,50);
}

.form-control:focus {
    background-color: rgb(14, 15, 14);
    border-color: rgb(50,50,50);
    box-shadow: 0 0 0 1px #549077;
}

.btn:focus {
    border-color: rgb(50,50,50);
    box-shadow: 0 0 0 1px #549077;
}

.orig-phrase-item:hover {
    border-bottom: dotted 1px #549077;
    cursor: pointer;
}

.tools-container {
    width:100%;
    height: 41px;
    border: solid 1px rgb(50,50,50);
    background: rgb(14, 15, 14);
    border-radius: 3px;
}

.tools-container > a {
    margin: 4px;
}

.hotkeys-container {
    width: 100%;
    background: rgba(5, 5, 5, 0.95);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12px;
    display: inline-flex;
}

.hotkeys__item > i {
    font-weight: 600;
    color: #549077;
}

.hotkeys__item {
    color: #495057;
    font-size: 13px;
    margin: 12px;
}

.closed {
    display: none;
}
.closed {
    display: auto;
}